
<button (click)="test()">测试</button>
<button (click)="connectWallet()">连接钱包</button>
<button (click)="switchToBsc()">切换到BSC</button>

<br>
<br>
<br>
<a href="https://testnet.binance.org/faucet-smart" class="a_bsc">获取BSC测试币</a>
<br>
<br>
<br>

<p class="addr">您的地址: {{addr}}</p>
<p class="addr">您的余额: {{balance}}</p>

<div class="div_main">

  <p>registry 地址: {{registryAddr}}</p>
  <p>ship 地址: {{shipAddr}}</p>
  <p>hero 地址: {{heroAddr}}</p>
  <p>home 地址: {{homeAddr}}</p>
  <p>battle 地址: {{battleAddr}}</p>

  <input type="text" [(ngModel)]="shipAddr"><button (click)="setShip()">SetShip</button><br>
  <input type="text" [(ngModel)]="heroAddr"><button (click)="setHero()">SetHero</button><br>
<!--  <input type="text" [(ngModel)]="homeAddr"><button (click)="setHome()">SetHome</button><br>-->
  <input type="text" [(ngModel)]="battleAddr"><button (click)="setBattle()">SetBattle</button><br>

  <br>

  <p>HomeProxy设置home：</p>
  <input type="text" [(ngModel)]="homeAddress"><button (click)="setHomeAddress()">SetHome</button><br>

  <button (click)="clearHomeData()">清除home数据</button>
</div>
