<h1>Fleet-Detail</h1>
<h1>第{{fleetIndex}}舰队</h1>

<p>status: {{getStatusString(fleet[0])}}</p>
<p>目标: {{fleet[1]}}</p>
<p>startTime: {{fleet[2]}}</p>
<p>endTime: {{fleet[3]}}</p>
<p>飞船数量: {{fleet[4].length}}</p>
<p>shipIdArray: {{fleet[4]}}</p>
<p>heroIdArray: {{fleet[5]}}</p>
<p>gold: {{fleet[6].gold}}</p>
<p>silver: {{fleet[6].silver}}</p>
<p>copper: {{fleet[6].copper}}</p>
<p>iron: {{fleet[6].iron}}</p>
<p>舰队总攻击力: {{fleetAttack}}</p>

<input type="text" [(ngModel)]="fleetLoad">你想从基地装载多少资源<br>

<button (click)="guardHome()">防守基地</button>
<button (click)="goHome()">goHome</button>
<!--<button (click)="arriveHome()">arriveHome</button>-->
<button (click)="battle()">攻击</button>
<button (click)="loadResource()">装载资源</button>
<button (click)="goMarket()">去宇宙市场</button>

<h2>选择攻击目标并出发</h2>
<ul>
  <li *ngFor="let item of userList" class="item_addr_list">
    <a href="javascript:" (click)="goBattle(item)">{{item}}</a>
  </li>
</ul>
