<h1>Fleets</h1>

<h2>舰队数量:{{fleetsSize}}</h2>
<h2>所有舰队: {{fleetsString}}</h2>

<button (click)="createFleet()">创建新舰队</button>

<ul>
  <li *ngFor="let fleet of fleets;let key=index;">第{{key}}舰队:
    <p>status: {{getStatusString(fleet[0])}}</p>
    <p>目标: {{fleet[1]}}</p>
    <p>startTime: {{fleet[2]}}</p>
    <p>endTime: {{fleet[3]}}</p>
    <p>飞船数量: {{fleet[4].length}}</p>
    <p>shipIdArray: {{fleet[4]}}</p>
    <p>heroIdArray: {{fleet[5]}}</p>
    <button [routerLink]="['/detail',key]">详情</button>
    <hr>
    <br>
  </li>
</ul>

