
<p>我的LightYear LP token 余额: {{balanceUsd}}</p>

<button (click)="getUsd()">免费获取LightYear LP token</button>
<br>
<input type="text" [(ngModel)]="inputUsd">
<button (click)="deposit()">质押LP token</button>

<p>我已经质押了 : {{depositedAmount}}</p>
<p>预计收益 : {{depositedReward}}</p>
<hr>
<input type="text" [(ngModel)]="inputUsd">
<button (click)="withdraw()">提取LP token</button>

<hr>
<p>质押LightYear LP token可以获取以下4种资源</p>

<!--<p>我的 resource : {{balanceResource}}</p>-->
<p>基地 iron : {{asset.iron}}</p>
<p>基地 copper : {{asset.copper}}</p>
<p>基地 silver : {{asset.silver}}</p>
<p>基地 gold : {{asset.gold}}</p>
<!--<button (click)="payResource()">Pay Resource</button>-->
