<h1>Battle-Detail</h1>
<h2>战斗详情</h2>
<h2>第{{index}}场战斗</h2>
<p>{{battleString}}</p>

<br>
<br>

<p>战斗结果: {{battleInfo.win}}</p>
<p>开局我方血量: {{battleInfo.attackerHealth}}</p>
<p>开局敌方血量: {{battleInfo.defenderHealth}}</p>

<br>
<br>

<ul>
  <li *ngFor="let item of battleInfo.battleArray;let key=index;">
    <p>第{{key}}回合</p>
    <p *ngIf="key%2==0">我方{{item.fromIndex}}号飞船 指向了敌方{{item.toIndex}}</p>
    <p *ngIf="key%2==1">敌人{{item.fromIndex}}号飞船 指向了我方{{item.toIndex}}</p>
    <p *ngIf="key%2==0">敌方{{item.toIndex}}号的{{item.attributeIndex}}（血量）变成了{{item.delta}}</p>
    <p *ngIf="key%2==1">我方{{item.toIndex}}号的{{item.attributeIndex}}（血量）变成了{{item.delta}}</p>
    <hr>
  </li>
</ul>
