<p>Registry--Ship--{{registryShip}}</p>
<p>Registry--Fleets--{{registryFleets}}</p>
<p>Registry--Home--{{registryHome}}</p>
<p>Registry--LightYear--{{registryLightYear}}</p>

<input type="text" [(ngModel)]="inputLightYear">
<button (click)="setLightYearAddress()">Registry setLightYear</button><br>

<input type="text" [(ngModel)]="inputHome">
<button (click)="setHomeAddress()">Proxy setHome</button><br>

<input type="text" [(ngModel)]="inputFleets">
<button (click)="setFleetsAddress()">Proxy setFleets</button><br>

<p>我的基地资源：{{this.homeAssets}}</p>
<button (click)="checkMsgSender()">查看msgSender</button>
<button (click)="addHomeAssets()">添加1000基地资源</button><br>
<button (click)="addHomeAssetsOperator()">添加1000基地资源Operator</button><br>
<button (click)="upgradeHomeLevel()">升级基地</button><br>
