
.page{
  display: flex;
}

.left-bar {

}

.content {

}

.page-welcome {
  width: 100%;
}

.page-main{
}

.title {
  font-size: 6vw;
  text-align: center;
  margin-top: 10vw;
}

.button_next {
  width: 15vw;
  height: 5vw;
  margin: 5vw auto;
  display: block;
}
