
.left-bar {
  width: 200px;
  height: 800px;
  background: #eef;
  float: left;
}

.menu_item {
  border-bottom: black 1px solid;
  text-decoration: none;
  color: red;
  display: block;
  line-height: 50px;
  padding: 20px;
}
