
.left-bar {
  width: 250px;
  height: 1000px;
  background: #eef;
}

.menu_item {
  border-bottom: black 1px solid;
  text-decoration: none;
  color: red;
  display: block;
  line-height: 50px;
  padding: 20px;
}
