<div class="left-bar">
  <ul>
    <li><a routerLink="" class="menu_item">Main（首页）</a></li>
    <li><a routerLink="tab-base" class="menu_item">Base</a></li>
    <li><a routerLink="market" class="menu_item">Market（宇宙交易所）</a></li>
    <li><a routerLink="staking" class="menu_item">Staking（质押获取资源）</a></li>
    <li><a routerLink="home" class="menu_item">Home（基地）</a></li>
    <li><a routerLink="fleets" class="menu_item">Fleets（舰队）</a></li>
    <li><a routerLink="detail/-1" class="menu_item">Fleet-Detail（舰队）</a></li>
    <li><a routerLink="ships" class="menu_item">Ships（飞船）</a></li>
    <li><a routerLink="heroes" class="menu_item">Heroes（英雄）</a></li>
    <li><a routerLink="battle" class="menu_item">Battle（战斗）</a></li>
    <li><a routerLink="battle-detail/-1" class="menu_item">Battle-Detail（战斗历史）</a></li>
    <li><a routerLink="adventure" class="menu_item">Adventure（探索冒险）</a></li>
    <li><a routerLink="explore" class="menu_item">Explore（小行星采矿）</a></li>
  </ul>
</div>
