<div class="left-bar">
  <ul>
    <li><a routerLink="home" class="menu_item">Home</a></li>
    <li><a routerLink="fleets" class="menu_item">Fleets</a></li>
    <li><a routerLink="detail/-1" class="menu_item">Fleet-Detail</a></li>
    <li><a routerLink="ships" class="menu_item">Ships</a></li>
    <li><a routerLink="heroes" class="menu_item">Heroes</a></li>
    <li><a routerLink="battle" class="menu_item">Battle</a></li>
    <li><a routerLink="battle-detail/-1" class="menu_item">Battle-Detail</a></li>
    <li><a routerLink="explore" class="menu_item">Explore</a></li>
    <li><a routerLink="settings" class="menu_item">Settings</a></li>
  </ul>
</div>
