<div class="div_all">
  <span>Iron地址：</span> <a href="{{addrTokenIron}}" target="_blank">{{addrTokenIron}}</a><br>
  <span>Copper地址：</span> <a href="{{addrTokenCopper}}" target="_blank">{{addrTokenCopper}}</a><br>
  <span>Silver地址：</span> <a href="{{addrTokenSilver}}" target="_blank">{{addrTokenSilver}}</a><br>
  <span>Gold地址：</span> <a href="{{addrTokenGold}}" target="_blank">{{addrTokenGold}}</a><br>
  <br>
  <br>
  <p>我的Resource：{{balanceResource}}</p>
  <p>我的Iron：{{balanceIron}}</p>
  <p>我的Copper：{{balanceCopper}}</p>
  <p>我的Silver：{{balanceSilver}}</p>
  <p>我的Gold：{{balanceGold}}</p>
  <br>
  <br>
  <p>在交易所的舰队：</p>
  <br>
  <br>
  <div *ngFor="let item of fleets;let key=index;">
    <div *ngIf="item.status==7">
      <hr>
      <p>第{{key}}舰队</p>
      <p>状态：{{item.status}},在交易所</p>
      <p>航行：{{timestamp() >= item.missionEndTime ? "已经到达交易所" : "正在往交易所航行"}}</p>
      <p>装载资源Iron：{{item.asset.iron}}</p>
      <p>装载资源Copper：{{item.asset.copper}}</p>
      <p>装载资源Silver：{{item.asset.silver}}</p>
      <p>装载资源Gold：{{item.asset.gold}}</p>
      <button (click)="sellResource(key)">把舰队所有资源卖掉变成资源token</button>
      <button (click)="goHome(key)">回家</button>
      <hr>
    </div>
  </div>

  <br>
  <br>
  <br>
  <p>宇宙财富排行榜</p>
  <div *ngFor="let item of rankingList;let key=index;">
    <p>第{{key + 1}}名</p>
    <span>{{item.addr}}:::::::{{item.balance}}</span>
    <hr>
  </div>

</div>
