<h1>Ships</h1>

<p>Ships数量: {{shipAmount}}</p>
<p>Ships列表: {{shipIdArray}}</p>
<ul>
  <li *ngFor="let item of shipIdArray;let key=index;">
    <a href="javascript:" (click)="shipDetail(key)">ID---{{item}}</a>
    <span>：：：攻击力---{{shipAttackArray[key]}}---英雄ID-{{heroIdArray[key]}}-英雄攻击-{{heroAttackArray[key]}}</span>
    将飞船配置到
    <ul class="chooseFleet">
      <li class="chooseFleet" *ngFor="let item2 of fleetNumberArray">
        <button (click)="chooseFleet(item,item2)">{{item2}}</button>
      </li>
    </ul>

  </li>
</ul>

<p>Ship详情:{{ship}}</p>
<button (click)="mintShip()">抽取新的Ship（仅限测试）</button>
<button (click)="buildShip()">建造飞船（消耗Iron,Copper,Silver,Gold各项资源100）</button>
<br>
<br>
<br>
<!--<p>资源余额：{{resourceBalance}}</p>-->
<!--<button (click)="quickMint()">快速mint资源（测试）</button>-->
<!--<button (click)="transferTo()">快速转账（测试）</button>-->
